<article class="post-149 page type-page status-publish hentry" id="post-149">

		<time datetime="2017-02-05"></time>
		<h1 class="the_title">Abstract preparation</h1>

				<section class="entry">
			
			<h3><span style="color: #008000"><strong>Deadline for abstract submission: April 30<sup>th</sup>, 2018.</strong></span></h3>
<p>Abstracts on all aspects of oxygen transport to tissue are welcome. Major topics will be:</p>
<ul>
<li><strong>Microcirculation and vascular medicine</strong></li>
<li><strong>O<sub>2</sub> deficiency and its impact on molecular processes in cells and tissues</strong></li>
<li><strong>Cellular metabolism and mitochondrial function</strong></li>
<li><strong>Multimodal functional imaging</strong></li>
<li><strong>Role of O<sub>2</sub> in cancer biology</strong></li>
<li><strong>Brain oxygenation and function</strong></li>
<li><strong>Oxygen in kidney function</strong></li>
<li><strong>Muscle oxygenation and sport medicine</strong></li>
<li><strong>Clinical aspects of oxygen supply</strong></li>
<li><strong>Therapeutic role of oxygen (e.g. in oncology or critical care medicine)</strong></li>
<li><strong>Mathematical modeling</strong></li>
<li><strong>Dynamics of oxygen transport</strong></li>
</ul>
<p>Please use the <strong><a href="/abstract_guidelines.docx">Microsoft Word template</a></strong> with the specified formatting for your abstract. <strong>Please indicate at the end of the abstract (radio buttons) if you wish to be considered for an oral or poster presentation.</strong></p>
<p>&nbsp;</p>
<div style="padding:20px; border:1px solid black;">
<h1>Please upload your abstract word file to abstract form below.</h1>
<%= form_tag({:action => "abstract"}, :multipart => true) do %>
	<label> First author - first name</label>
	<input name="first_author_first_name">
	<br>
	<label> First author - last name</label>
	<input name="first_author_last_name">
	<br>
	<label> First author - email address</label>
	<input type="email" name="first_author_email">
	<br>
	<label> Corresponding author - first name</label>
	<input name="corresponding_author_first_name">
	<br>
	<label> Corresponding author - last name</label>
	<input name="corresponding_author_last_name">
	<br>
	<label> Corresponding author - email address</label>
	<input type="email" name="corresponding_author_email">
	<br>
	<label> Select abstract file</label>
	<%= file_field 'upload', 'abstract_file'%>
	<br>
	<%= submit_tag "Upload"%>
	</form>
<%end%>
</div>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
