<article class="post-137 page type-page status-publish hentry" id="post-137">
<style>
p{
font-size:16px !important;
}
</style>
<p>The following three types of accommodation are arranged for ISOTT 2018. Please, fill out the Accommodation Booking Form and send it to the Conference Organizer (<a href="mailto:isott2018@snu.ac.kr">isott2018@snu.ac.kr</a>) by May 15, 2018.</p>
<a style="text-align:center;font-size:20px;color:yellow !important; padding:10px; background:black;" href="/accommodation_booking_form.docx">Accommodation booking form (Click)</a>
<br><br>
<hr>
<br>
				<section class="entry">
<img style=" float:right;display:inline-block; margin:15px; min-width:100px; width:25%; max-width:200px; height:auto;" src="/image/5.png"><img style=" float:right;display:inline-block; margin:15px; min-width:100px; width:25%; max-width:200px; height:auto;"src="/image/6.png"><img style="clear:both">
<h1 class="the_title">• Hoam faculty house (on campus)</h1>
<p style="font-size:15px;">Same place as the conference venue<br>
	Rates (including tax): Standard double/twin (104,500 KRW) and Deluxe double/twin (148,500 KRW)<br>
Homepage: <a href="http://www.hoam.ac.kr/eng/">http://www.hoam.ac.kr/eng/</a><br>
</p><br><br>	
<hr>
<br>
<img style=" float:right;display:inline-block; margin:15px; min-width:100px; width:25%; max-width:200px; height:auto;" src="/image/7.png"><img style=" float:right;display:inline-block; margin:15px; min-width:100px; width:25%; max-width:200px; height:auto;"src="/image/8.png">
<h1 class="the_title">• SNU student dormitory (on campus)</h1>
<p style="font-size:15px">
     Located 0.7 Km (10 minutes on foot) from Hoam faculty house<br>
     Grocery store and fitness center are available near the dormitory.<br>
     Rates: Twin room (34,000 KRW)<br>
     Students need to show medical certificate and measles vaccination report at the check in.<br>
     Homepage: <a href="http://dorm.snu.ac.kr/eng/sub02/sub02_1_2.php#tab_menu03">http://dorm.snu.ac.kr/eng/sub02/sub02_1_2.php#tab_menu03</a><br>
</p>	<br><br>
<hr>
<br>
<img style=" float:right;display:inline-block; margin:15px; min-width:100px; width:25%; max-width:200px; height:auto;" src="/image/9.png"><img style=" float:right;display:inline-block; margin:15px; min-width:100px; width:25%; max-width:200px; height:auto;"src="/image/10.png">
<h1 class="the_title">• Karashy boutique hotel (off campus)</h1>
<p style="font-size:15px">
   Located 3 km (15 minutes by taxi) from Hoam faculty house<br>
   ※ Taxi fare: About 4,000 KRW<br>
   Rates: Standard double/twin (100,000 KRW including tax and breakfast)<br>
   ※ This price is valid until May 15, 2018 <br>
   Homepage: <a href="http://seoulhotel-karashy.com">http://seoulhotel-karashy.com</a><br>
</p>	<br>
<br>

	</section>
				<section id="comments">
			        </section>
        
	</article>
