<article class="post-137 page type-page status-publish hentry" id="post-137">

		<time datetime="2016-09-18"></time>

				<section class="entry">
<a style="text-align:center;font-size:20px; background:black;" href="/accommodation_booking_form.docx">Accommodation booking form<br>Docx file (Click)</a>
<h1 class="the_title">• Hoam faculty house</h1>
<p style="font-size:15px">
   - Same place as the conference site<br>
   - Rates: Standard double/twin (104,500 won) and 
                 Deluxe double/twin (148,500 won)<br>
   - Reservation deadline: May 15th, 2018<br>
   - Email: http://www.hoam.ac.kr/eng/<br>
</p>	<br>
<img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;" src="/image/5.png"><img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;"src="/image/6.png">

<h1 class="the_title">• Student dormitory</h1>
<p style="font-size:15px">
   - Walking distance to the conference site<br>
   - Rates: Twin room (17,000 won)<br>
   - Reservation deadline: May 15th, 2018<br>
   <span style="color:red">
- Necessary documents: medical certificate and
                                  measles vaccination report</span>
   - Email: http://dorm.snu.ac.kr/eng/<br>

</p>	<br>
<img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;" src="/image/7.png"><img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;"src="/image/8.png">

<h1 class="the_title">• Karashy Boutique Hotel</h1>
<p style="font-size:15px">
   - 10~15 min by taxi (4,000 won) from the conference site<br>
   - Rates: Standard double/twin (100,000 won)<br>
   - Email: http://seoulhotel-karashy.com/<br>

   <span style="color:red">
   - Deadline for reduced conference rate: May 15th, 2018
	</span><br>
   - Email: http://seoulhotel-karashy.com/<br>


</p>	<br>
<img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;" src="/image/9.png"><img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;"src="/image/10.png">
	</section>
				<section id="comments">
			        </section>
        
	</article>
