<article class="post-137 page type-page status-publish hentry" id="post-137">

		<time datetime="2016-09-18"></time>
		<h1 class="the_title">Accommodation</h1>

				<section class="entry">
			
			<p>With the following hotels arrangements have been made to offer reduced rates of ISOTT 2017 participants:</p>
<ul>
<li><a href="https://hotel-halle-saale.dorint.com/en/" target="_blank">Dorint Hotel Halle</a>, Dorotheenstraße 12, 06108 Halle / Saale<br>
(walking distance to the conference site)<br>
Rates: Single Room: 105.00 €/night, Double room: 131.00 €/night<br>
Deadline for reduced conference rate: <strong>July 7<sup>th</sup>, 2017<br>
</strong>Email: <a href="mailto:info.halle-charlottenhof@dorint.com">info.halle-charlottenhof(at)dorint.com</a></li>
</ul>
<hr>
<ul>
<li><a href="https://www.tryphalle.com/en/location" target="_blank">Tryp by Wyndham Halle</a>, Neustädter Passage 5 , 06122 Halle / Saale<br>
(short tram ride to the conference site)<br>
Rates: Single Room: 69.00 €/night, Double room: 88.00 €/night<br>
Deadline for reduced conference rate: <strong>June 24<sup>th</sup>, 2017<br>
</strong>Email: <a href="mailto:info@tryphalle.com">info(at)tryphalle.com</a></li>
</ul>
<hr>
<ul>
<li><a href="http://www.ankerhof.de" target="_blank">Hotel Ankerhof</a>, Ankerstraße 2a, 06108 Halle / Saale<br>
(walking distance to the conference site)<br>
Rates: Single Room: 70.00 €/night, Double room: 99.00 €/night<br>
Deadline for reduced conference rate: <strong>March 30<sup>th</sup>, 2017<br>
</strong>Email: <a href="mailto:reception@ankerhofhotel.de">reception(at)ankerhofhotel.de</a></li>
</ul>
<p>The room <span style="color: #008000"><strong>rates include breakfas<span style="color: #008000">t</span></strong><strong>, service charge and tax</strong></span>.</p>
<p>Please book the hotel of your choice by your own. Please indicate the event „<strong>ISOTT2017</strong>“ with your booking to get the reduced conference rate. For booking please send an email directly to the hotel (instead of using booking portals or the booking pages on the hotel homepages).</p>
<p>&nbsp;</p>
<p><a href="https://isott2017.org/files/2016/09/Jugendherberge.jpg"><img class="size-medium wp-image-107 alignright" src="https://isott2017.org/files/2016/09/Jugendherberge-300x225.jpg" alt="Jugendherberge" width="300" height="225" srcset="http://isott2017.org/files/2016/09/Jugendherberge-300x225.jpg 300w, http://isott2017.org/files/2016/09/Jugendherberge-150x113.jpg 150w, http://isott2017.org/files/2016/09/Jugendherberge.jpg 500w" sizes="(max-width: 300px) 100vw, 300px"></a>Halle has also a brand-new <a href="http://www.jugendherberge-halle.de/3785.html" target="_blank">youth hostel</a> (membership required) located in walking distance to the conference venue (Große Steinstraße 60, 06108 Halle/ Saale)</p>
<p>&nbsp;</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
