	
	<article class="post-211 page type-page status-publish hentry" id="post-211">

		<time datetime="2017-02-08"></time>
		<h1 class="the_title">ISOTT – Awards</h1>

				<section class="entry">
			
			<p>ISOTT is offering different awards to honor young scientists working in the field of oxygen transport (1.-3.) and to support the attendance of the ISOTT meeting (4.):</p>
<p>&nbsp;</p>
<p>1. &nbsp; <a href="award_melvin">Melvin H. Knisely Award</a> &nbsp;&nbsp;(age: 40 or younger)</p>
<p>2. &nbsp; <a href="award_dietrich">Dietrich W. Lübbers Award</a>&nbsp;&nbsp; (age: 35 or younger)</p>
<p>3. &nbsp; <a href="award_britton">Britton Chance Award</a>&nbsp;&nbsp; (age: 30 or younger)</p>
<p>4. &nbsp; <a href="award_duane">Duane F. Bruley Travel Awards</a>&nbsp;&nbsp; (no age limit)</p>
<p>&nbsp;</p>
<p>For mor information on the terms of the awards, the nomination and how to submit the application please follow the respective link.</p>
<p>The deadline for application is <span style="color: #008000"><strong>May 15th, 2018</strong></span>.</p>
<p>&nbsp;</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>


