<article class="post-229 page type-page status-publish hentry" id="post-229">

		<time datetime="2017-02-08"></time>
		<h1 class="the_title">Dietrich W. Lübbers Award</h1>

				<section class="entry">
			
			<p><img class="alignleft" src="http://isott.org/system/html/awards_lubbers-3109ce8b.jpg" alt="" width="80" height="112">It was established in honor of Professor Lübbers’s long-standing commitment, interest, and contributions to the problems of oxygen transport to tissue and to the society. This award was first presented in 1994 during the annual conference of ISOTT in Istanbul, Turkey.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #008000"><strong>TERMS OF THE AWARD</strong></span></p>
<ul>
<li>A candidate must not pass his/her 36th birthday before the date of presentation of the award.</li>
<li>The candidate must provide evidence of sustained research activities in the (and/or related) field of oxygen transport to tissue.</li>
<li>The candidate must be a member of ISOTT or eligible for the membership.</li>
<li>The candidate must submit one (or more) abstract(s) as a lead author, make a presentation of his/her research results during the annual ISOTT conference, and submit a manuscript to the ISOTT proceeding in the year when he/she is nominated.</li>
<li>A recipient who has previously received a Knisely Award may not be nominated for this award.</li>
<li>The candidate for this award may be simultaneously eligible for the Britton Chance Award in the year of the nomination, but a candidate may receive only one award.</li>
<li>A candidate who is unsuccessful in any given year can be re-nominated in a subsequent year if he/she meets the award criteria in the year of nomination.</li>
</ul>
<p><span style="color: #008000"><strong>NOMINATION</strong></span></p>
<p>The candidate must be nominated (self nomination is not allowed), and the nominator must be ISOTT members. A full nomination package includes: a nomination letter; a copy of a curriculum vitae demonstrating the candidate’s accomplishments; and a copy of a first-author manuscript for the ISOTT proceeding in the year of nomination. Additional supporting materials may be included. Nominations with an incomplete package will not be considered.</p>
<p><strong><span style="color: #008000">WHERE TO SUBMIT?</span></strong></p>
<p>The application should be submitted to the ISOTT via email (<a href="mailto:isott2018@snu.ac.kr">iso2018@snu.ac.kr</a>).</p>
<p><span style="color: #008000"><strong>Deadline: May 15<sup>st</sup>, 2018</strong></span></p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
