<article class="post-239 page type-page status-publish hentry" id="post-239">

		<time datetime="2017-02-08"></time>
		<h1 class="the_title">Duane F. Bruley Awards</h1>

				<section class="entry">
			<img  src="http://isott.org/system/html/awards_dbruley-d13c9c1e.jpg" alt="" width="80" height="106">
			<p>They were established in 2003 and first presented by ISOTT at the 2004 annual conference in Bari, Italy. This award was created to provide travel funds for student researchers in all aspects of areas of oxygen transport to tissue. The awards signify Dr. Bruley’s interest in encouraging and supporting young researchers to maintain the image and quality of research associated with the society. As a co-founder of ISOTT in 1973, Dr. Bruley emphasizes cross-disciplinary research among basic scientists, engineers, medical scientists, and clinicians. His pioneering work constructing mathematical models for oxygen and other anabolite/metabolite transport in the microcirculation, employing computer solutions, were the first to consider system non-linearities, time dependence, including multi-dimensional diffusion, convection, and reaction kinetics. It is hoped that receiving the Duane F. Bruley Travel Award will inspire students to excel in their research and will assist in securing future leadership for ISOTT.</p>
<p>A candidate can be nominated and receive this award multiple times, as long as if he/she meets the award criteria in the year of nomination. The award includes a certificate and a cash prize that can assist with paying for ISOTT meeting registration fees and/or travel expenses.</p>
<p><span style="color: #008000"><strong>TERMS OF THE AWARD</strong></span></p>
<ul>
<li>The candidate must provide evidence of sustained research activities in the (or related) field of oxygen transport to tissue.</li>
<li>The candidate must be a member of ISOTT or eligible for the membership.</li>
<li>The candidate must submit one (or more) abstract(s) as a lead author, make a presentation of his/her research results during the annual ISOTT conference, and submit a manuscript to the ISOTT proceeding in the year when he/she is nominated.</li>
<li>A recipient who has previously received a Knisely Award may not be nominated for this award.</li>
<li>The candidate for this award may be simultaneously eligible for the Dietrich W. Lübbers Award in the year of the nomination, but a candidate may receive only one award.</li>
<li>A candidate who is unsuccessful in any given year can be re-nominated in a subsequent year if he/she meets the award criteria in the year of nomination.</li>
<li>A candidate must be either a student (undergraduate or graduate) or a post-doctoral fellow at the time of the annual meeting and be a member, a student member of ISOTT, or eligible for membership.</li>
<li>The candidates must give a presentation of their research results at the annual ISOTT conference and submit a manuscript for publication in the ISOTT proceeding, in the year of the nomination.</li>
<li>A candidate may be nominated for the Knisely, Lübbers and/or Chance’s Awards at the same time, but may receive only one award.</li>
</ul>
<p><span style="color: #008000"><strong>NOMINATION</strong></span></p>
<p>The candidate must be nominated by the mentor who is an ISOTT member. A full nomination package includes: a nomination letter with a clear description on the nominee’s academic status (either student or post doctoral fellow) and a copy of first-author manuscript for the ISOTT proceeding in the year of nomination.</p>
<p><span style="color: #008000"><strong>WHERE TO SUBMIT?</strong></span></p>
<p>The application should be submitted to the ISOTT via email (<a href="mailto:isott2018@snu.ac.kr">isott2018@snu.ac.kr</a>).</p>
<p><span style="color: #008000"><strong>Deadline: May 15<sup>st</sup>, 2018</strong></span></p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
