<article class="post-224 page type-page status-publish hentry" id="post-224">

		<time datetime="2017-02-08"></time>
		<h1 class="the_title">Melvin H. Knisely Award</h1>

				<section class="entry">
			
			<p><img class="alignleft" src="http://isott.org/system/html/awards_knisely-ab1406fb.jpg" alt="" width="80" height="107"></p>
<p>It was established in 1983 to honor Dr. Knisely’s accomplishments in the field of the transport of oxygen and other metabolites and anabolites in the human body. Over the years, he has inspired many young investigators and this award is to honor his enthusiasm for assisting and encouraging young scientists and engineers in various disciplines. The award is to acknowledge outstanding young investigators. This award was first presented during the banquet of the 1983 annual conference of ISOTT in Ruston, Louisiana. The award includes a Melvin H. Knisely plaque and a cash prize.</p>
<p><span style="color: #008000"><strong>TERMS OF THE AWARD</strong></span></p>
<ul>
<li>A candidate must have a PhD, MD or equivalent.</li>
<li>A candidate must not pass his/her 41th birthday before the date of presentation of the award.</li>
<li>The candidate must provide evidence of sustained activity in research related to oxygen transport to tissue.</li>
<li>The candidate must be a member of ISOTT, or be eligible for the membership.</li>
<li>The candidate must submit one (or more) abstract(s) as a lead author, make a presentation of his/her work during the annual ISOTT conference in the year when he/she is nominated, and submit a full manuscript.</li>
<li>A candidate who is unsuccessful any given year can be re-nominated in a subsequent year if he/she meets the award criteria in the year of nomination.</li>
</ul>
<p><span style="color: #008000"><strong>NOMINATION</strong></span></p>
<p>The candidate must be nominated (self nomination is not allowed) and the nominator must be an ISOTT member. A full nomination package includes: a nomination letter; a copy of a curriculum vitae demonstrating the candidate’s accomplishments; at least two (2) additional letters of support; and a copy of a first-author manuscript for the ISOTT proceeding in the year of nomination. Additional supporting materials may be included. Nominations with an incomplete package will not be considered.</p>
<p><span style="color: #008000"><strong>WHERE TO SUBMIT?</strong></span></p>
<p>Please send complete nomination packages to Dr. Duane F. Bruley via email (<a href="mailto:bruley33@verizon.net">bruley33@verizon.net</a>) or Synthesizer, Inc., 2773 Westminster Road, Ellicot City, MD 21043, USA.</p>
<p><span style="color: #008000"><strong>Deadline: May 15<sup>st</sup>, 2018</strong></span></p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
