<article class="post-60 page type-page status-publish hentry" id="post-60">

		<time datetime="2016-07-18"></time>
		<h1 class="the_title">Conference venue</h1>

				<section class="entry">
			
			<div id="attachment_111" style="max-width: 310px" class="wp-caption alignleft"><a href="https://isott2017.org/files/2016/09/Löwengebäude-Foto-Norbert-Kaltwaßer.jpg"><img class="wp-image-111 size-medium" src="https://isott2017.org/files/2016/09/Löwengebäude-Foto-Norbert-Kaltwaßer-300x173.jpg" alt="Löwengebäude Foto Norbert Kaltwaßer" width="300" height="173" srcset="http://isott2017.org/files/2016/09/Löwengebäude-Foto-Norbert-Kaltwaßer-300x173.jpg 300w, http://isott2017.org/files/2016/09/Löwengebäude-Foto-Norbert-Kaltwaßer.jpg 768w, http://isott2017.org/files/2016/09/Löwengebäude-Foto-Norbert-Kaltwaßer-150x86.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a><p class="wp-caption-text">Universität Halle. Foto: Norbert Kaltwaßer</p></div>
<p>The conference will be held in the central lecture hall building, the so call <em>lions building</em> („Löwengebäude“). The building is named after the two iron lions standing on both sides of the outside staircase.</p>
<p><a href="https://isott2017.org/files/2017/04/Loewengebaeude3.jpg"><img class=" wp-image-317 alignright" src="https://isott2017.org/files/2017/04/Loewengebaeude3-300x225.jpg" alt="" width="162" height="122" srcset="http://isott2017.org/files/2017/04/Loewengebaeude3-300x225.jpg 300w, http://isott2017.org/files/2017/04/Loewengebaeude3-150x113.jpg 150w, http://isott2017.org/files/2017/04/Loewengebaeude3.jpg 550w" sizes="(max-width: 162px) 100vw, 162px"></a>The lions building is located in the center of Halle at the University Place.</p>
<p>Address: <a href="https://www.google.de/maps/place/Universit%C3%A4tsplatz,+06108+Halle+(Saale)/@51.4864085,11.9681175,17.5z/data=!4m5!3m4!1s0x47a6635236d16689:0x1406284c0e0f4c07!8m2!3d51.4861661!4d11.9688883" target="_blank" rel="noopener">Universitätsplatz, 06108 Halle (Saale), Germany</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="attachment_104" style="max-width: 310px" class="wp-caption alignleft"><a href="https://isott2017.org/files/2016/09/Aula-Foto-Theresa-Pfahl.jpg"><img class="wp-image-104 size-medium" src="https://isott2017.org/files/2016/09/Aula-Foto-Theresa-Pfahl-300x199.jpg" alt="Aula Foto Theresa Pfahl" width="300" height="199" srcset="http://isott2017.org/files/2016/09/Aula-Foto-Theresa-Pfahl-300x199.jpg 300w, http://isott2017.org/files/2016/09/Aula-Foto-Theresa-Pfahl.jpg 768w, http://isott2017.org/files/2016/09/Aula-Foto-Theresa-Pfahl-150x99.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a><p class="wp-caption-text">Universität Halle. Foto: Theresa Pfahl</p></div>
<p><img class="size-medium wp-image-320 alignright" src="https://isott2017.org/files/2017/04/Loewengebaeude6-300x225.jpg" alt="" width="300" height="225" srcset="http://isott2017.org/files/2017/04/Loewengebaeude6-300x225.jpg 300w, http://isott2017.org/files/2017/04/Loewengebaeude6-150x113.jpg 150w, http://isott2017.org/files/2017/04/Loewengebaeude6.jpg 550w" sizes="(max-width: 300px) 100vw, 300px"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://isott2017.org/files/2017/04/Loewengebaeude5.jpg"><img class="size-medium wp-image-319 alignleft" src="https://isott2017.org/files/2017/04/Loewengebaeude5-300x225.jpg" alt="" width="300" height="225" srcset="http://isott2017.org/files/2017/04/Loewengebaeude5-300x225.jpg 300w, http://isott2017.org/files/2017/04/Loewengebaeude5-150x113.jpg 150w, http://isott2017.org/files/2017/04/Loewengebaeude5.jpg 550w" sizes="(max-width: 300px) 100vw, 300px"></a><a href="https://isott2017.org/files/2017/04/Loewengebaeude4.jpg"><img class="size-medium wp-image-318 alignleft" src="https://isott2017.org/files/2017/04/Loewengebaeude4-300x225.jpg" alt="" width="300" height="225" srcset="http://isott2017.org/files/2017/04/Loewengebaeude4-300x225.jpg 300w, http://isott2017.org/files/2017/04/Loewengebaeude4-150x113.jpg 150w, http://isott2017.org/files/2017/04/Loewengebaeude4.jpg 550w" sizes="(max-width: 300px) 100vw, 300px"></a></p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
