<article class="post-375 page type-page status-publish hentry" id="post-375">

		<time datetime="2017-06-25"></time>
		<h1 class="the_title">Guidelines for Poster and Oral Presentations</h1>

				<section class="entry">
			
			<p>It is particular interest of the ISOTT meeting to foster interaction between different fields of physiology. Accordingly, the introduction and conclusion of poster presentations should be of sufficient clarity for a non-specialist audience.</p>
<h3>Poster Presentation Guidelines:</h3>
<ul>
<li>Each poster will be displayed for 2 days (Sunday, August 20+Monday, August 21 or Tuesday, August 22+Wendsday, August 23, depending on which day your poster is scheduled).</li>
<li>Poster should be mounted on Sunday, August 20 or Tuesday, August 22, respectively, before 8:30 a.m..</li>
<li>In addition to the poster presentation each poster session will start with a short <span style="color: #ff0000"><strong>oral presentation (Poster Flash presentation)</strong></span> which has the goal to inform the audience on the topic of your poster and to motivate to visit you during the subsequent poster session. Each author will be <strong><span style="color: #ff0000">strictly limited to 2 minutes</span></strong> presentation time. After this time the presentation will be stopped. Each presentation is <strong><span style="color: #ff0000">limited to 2 slides</span></strong>. The Poster Flash presentation is only an opportunity to advertise for your paper.</li>
<li>There will be no guided poster tours but main authors are kindly requested to be present at their posters during the poster viewing session for discussions.</li>
<li>The posters have to be in <strong><span style="color: #ff0000">portrait (upright) format</span></strong> and should not exceed the following dimensions: <span style="color: #ff0000"><strong>85 cm width, 119 cm height (DIN A0)</strong></span>.</li>
<li>Please fix your poster on the poster panel marked with your poster number. Fixing materials will be provided and distributed on-site in the poster area.</li>
</ul>
<h3>Oral Presentation Guidelines:</h3>
<ul>
<li>The duration of oral talks is supposed to be <span style="color: #ff0000"><strong>10 min plus 5 min for questions and discussion</strong></span>. We kindly ask you to keep strictly to this time limit.</li>
<li>The required technical equipment will be provided for Powerpoint presentations.</li>
<li>We kindly ask you to submit your presentation in the lecture hall during the breaks as early as possible (best the day before; at least in the break before your session).</li>
<li>Please note that a presentation from your laptop will NOT be possible.</li>
</ul>
<h3>Guidelines for PowerPoint presentations (oral and poster flash):</h3>
<ul>
<li>Please submit your presentation to the computer in the lecture hall via one of the following media: CD ROM (CD-R/RW), DVD-ROM (DVD-R/RW) or USB memory stick.</li>
<li>Please save all files associated with your presentation (PowerPoint file, movie/video files etc.) to one folder/location. We recommend saving videos and graphics and pictures separately on your CD ROM or USB stick. In case of problems we can re-insert the originals.</li>
</ul>
<p><strong>Presentation Format</strong></p>
<ul>
<li>Please use <span style="color: #ff0000"><strong>Microsoft PowerPoint 97-2016 (*.ppt/*pptx), OpenOffice / LibreOffice 1.0 – 4.0 or</strong><strong> Adobe PDF</strong></span> to guarantee your presentation will open successfully on an on-site PC. If you use MS PowerPoint, we recommend that you save your PowerPoint presentation using .ppt/pptx format and not .pps/ppsx.</li>
<li>All presentations will be presented in a resolution of 1024×768 pixels (landscape). Please use high contrast lettering and fonts with a minimum size of 16pt and high contrast layouts like light text on dark colours.</li>
</ul>
<p><strong>Pictures / Videos</strong></p>
<ul>
<li>JPG images are the preferred file format for inserted images. GIF, TIF or BMP formats will be accepted as well.</li>
<li>Because of the many different video formats support cannot be provided for embedded videos in your presentation; please test your presentation with the on-site PC several hours before your presentation. Generally, the MPEG-1, WMV and MPEG-4 format should work with no difficulties. The file size should not exceed 150 MB.</li>
<li>Movies or videos that require additional reading or projection equipment (e.g. VHS cassettes) will not be accepted.</li>
</ul>
<p><strong>Fonts</strong></p>
<ul>
<li>Only fonts which are included in the basic installation of MS-Windows 10 will be available (English version of Windows). Use of other fonts not included in Windows can cause the wrong layout / style of your presentation.</li>
<li>Suggested fonts: Arial, Tahoma.</li>
<li>If you have to use different fonts, these must be embedded into your presentation.</li>
</ul>
<p><strong>Further Information</strong></p>
<ul>
<li>You can control/move slides during your presentation on your own (by remote control PowerPoint – please kindly check this in lecture hall in advance).</li>
<li>We kindly ask you to be at the session room at least 10 minutes before the session starts to meet the chair and familiarize yourself with the technical and other equipment.</li>
</ul>
<p>If you have any questions regarding the congress or the speakers‘ instructions, please do not hesitate to contact us:<br>
<a href="mailto:ISOTT2017@medizin.uni-halle.de">ISOTT2017@medizin.uni-halle.de</a> .</p>
<p>You can download these guidelines <a href="https://isott2017.org/files/2017/06/ISOTT-2017-Presentation-Guidelines.pdf">here</a>.</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
