<article class="post-83 page type-page status-publish hentry" id="post-83">

		<time datetime="2016-07-18"></time>
		<h1 class="the_title">Highlights of Halle</h1>

				<section class="entry">
			
			<p><a href="https://isott2017.org/files/2016/07/Saale.jpg"><img class="size-medium wp-image-84 alignright" src="https://isott2017.org/files/2016/07/Saale-300x161.jpg" alt="Saale" width="300" height="161" srcset="http://isott2017.org/files/2016/07/Saale-300x161.jpg 300w, http://isott2017.org/files/2016/07/Saale-150x80.jpg 150w, http://isott2017.org/files/2016/07/Saale.jpg 550w" sizes="(max-width: 300px) 100vw, 300px"></a><a href="https://isott2017.org/files/2016/09/Rive-Ufer.jpg"><img class="size-medium wp-image-112 alignleft" src="https://isott2017.org/files/2016/09/Rive-Ufer-300x225.jpg" alt="Rive-Ufer" width="300" height="225" srcset="http://isott2017.org/files/2016/09/Rive-Ufer-300x225.jpg 300w, http://isott2017.org/files/2016/09/Rive-Ufer.jpg 768w, http://isott2017.org/files/2016/09/Rive-Ufer-150x113.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a>Halle is located a the river <strong>Saale</strong>. You can walk along the waterfront and enjoy the beauty of the slowly flowing water.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://isott2017.org/files/2015/09/Haendel.jpg"><img class=" wp-image-36 alignleft" src="https://isott2017.org/files/2015/09/Haendel-100x300.jpg" alt="Haendel" width="109" height="327" srcset="http://isott2017.org/files/2015/09/Haendel-100x300.jpg 100w, http://isott2017.org/files/2015/09/Haendel-50x150.jpg 50w, http://isott2017.org/files/2015/09/Haendel.jpg 200w" sizes="(max-width: 109px) 100vw, 109px"></a>The most popular son of our city is the composer <strong>Georg Friedrich Händel</strong>. You find interesting places of baroque, classical or modern music all over the city.</p>
<p>&nbsp;</p>
<p style="text-align: right"><a href="https://isott2017.org/files/2016/09/Leopoldina.jpg"><img class="size-medium wp-image-108 alignright" src="https://isott2017.org/files/2016/09/Leopoldina-300x225.jpg" alt="Leopoldina" width="300" height="225" srcset="http://isott2017.org/files/2016/09/Leopoldina-300x225.jpg 300w, http://isott2017.org/files/2016/09/Leopoldina.jpg 768w, http://isott2017.org/files/2016/09/Leopoldina-150x113.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a> Halle is also the place of the National <strong>Academy of Sciences </strong>the<strong> „<a href="http://www.leopoldina.org/en/leopoldina-home/" target="_blank">Leopoldina</a>„</strong>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://isott2017.org/files/2016/09/Francke-Stiftung1.jpg"><img class="size-medium wp-image-105 alignleft" src="https://isott2017.org/files/2016/09/Francke-Stiftung1-300x225.jpg" alt="Francke-Stiftung1" width="300" height="225" srcset="http://isott2017.org/files/2016/09/Francke-Stiftung1-300x225.jpg 300w, http://isott2017.org/files/2016/09/Francke-Stiftung1.jpg 768w, http://isott2017.org/files/2016/09/Francke-Stiftung1-150x113.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a>The <a href="http://www.francke-halle.de/homepage.html" target="_blank"><b>Francke Foundations</b></a> were founded in 1695 as a social and educational institution. The historical building represents a unique example educational functional architecture.<a href="https://isott2017.org/files/2016/09/Francke-Stiftung2.jpg"><img class="alignright wp-image-106 size-medium" src="https://isott2017.org/files/2016/09/Francke-Stiftung2-300x188.jpg" alt="Francke-Stiftung2" width="300" height="188" srcset="http://isott2017.org/files/2016/09/Francke-Stiftung2-300x188.jpg 300w, http://isott2017.org/files/2016/09/Francke-Stiftung2.jpg 768w, http://isott2017.org/files/2016/09/Francke-Stiftung2-150x94.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://isott2017.org/files/2015/09/Giebichenstein.jpg"><img class="size-medium wp-image-37 alignleft" src="https://isott2017.org/files/2015/09/Giebichenstein-300x158.jpg" alt="Giebichenstein" width="300" height="158" srcset="http://isott2017.org/files/2015/09/Giebichenstein-300x158.jpg 300w, http://isott2017.org/files/2015/09/Giebichenstein-150x79.jpg 150w, http://isott2017.org/files/2015/09/Giebichenstein.jpg 550w" sizes="(max-width: 300px) 100vw, 300px"></a>The old castle <strong>Burg Giebichenstein</strong> houses nowadays the academy of arts in Halle.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The <strong>Institut of Anatomy</strong> houses the histor<a href="https://isott2017.org/files/2016/09/Anatomie.jpg"><img class="size-medium wp-image-103 alignright" src="https://isott2017.org/files/2016/09/Anatomie-300x225.jpg" alt="Anatomie" width="300" height="225" srcset="http://isott2017.org/files/2016/09/Anatomie-300x225.jpg 300w, http://isott2017.org/files/2016/09/Anatomie.jpg 768w, http://isott2017.org/files/2016/09/Anatomie-150x113.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a>ical <a href="http://www.meckelschesammlungen.uni-halle.de/" target="_blank"><strong>Meckel Collection</strong></a>&nbsp; a collection of anatomical preparations starting in 1779.</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
