<article class="post-128 page type-page status-publish hentry" id="post-128">

		<time datetime="2016-09-17"></time>
		<h1 class="the_title">How to reach Halle</h1>

				<section class="entry">
			
			<p>Halle is located in center of Germany approximately 40 km west of Leipzig and 170 km southwest of Berlin. You can reach Halle by plane (airport Halle/Leipzig, Berlin or Frankfurt/Main), by train or by car.</p>
<p>Halle „Main Station“ (Hauptbahnhof) is located in the center of the city. Most hotels and the conference site are in walking distance. Otherwise you can take a taxi or local transportation (tram). For using the tram you have to buy a ticket at the red ticket machines before your enter the tram. Within the tram there is no possibility to buy a ticket.</p>
<h2>By plane</h2>
<h4><strong>Airport Leipzig/Halle</strong></h4>
<p>Airport Leipzig/Halle is located quite close to the city of Halle (only 10 min by train). The airport is approached from some cities in Europe (e.g., London-Stansted, Zürich) and from many cities within Germany. From the airport take the local train („S5“) to Halle „Main Station“ (Hauptbahnhof) – only one stop. Tickets canbe bought in the airport.</p>
<h4><strong>Airport Berlin</strong></h4>
<p>Airport Berlin is&nbsp; approached from many cities in Europe. It is unclear wheter in 2017 the new international airport of Berlin will be open. If this is the case oversea flights will reach Berlin directly. Otherwise you have to fly in to one of the big European hubs (e.g., Frankfurt, Paris, London) and take a conncting flight to Berlin. From the airport take a bus, taxi or local train to Berlin „Main Station“ (Hauptbahnhof) and then take a high speed train (ICE or IC) directly to Halle (<a href="http://reiseauskunft.bahn.de/bin/query.exe/en?newrequest=yes&amp;protocol=http:&amp;" target="_blank">Deutsche Bahn Train Travel Planner</a>).</p>
<h4><strong>Airport Frankfurt/Main</strong></h4>
<p>Frankfunt/Main is the major airport hub in Germany. Most of the international airlines have direct flights to Frankfurt. From there take either a connecting flight to the airport Halle/Leipzig or a high speed train (ICE or IC) directly to Halle (<a href="http://reiseauskunft.bahn.de/bin/query.exe/en?newrequest=yes&amp;protocol=http:&amp;" target="_blank">Deutsche Bahn Train Travel Planner</a>). By train it takes about 3 h from Frankfurt airport to Halle.</p>
<h2>By train</h2>
<p>Halle is connected to the high speed railway system in Germany. Thus it can be reached conveniently from all over Germany and adjacent countries (<a href="http://reiseauskunft.bahn.de/bin/query.exe/en?newrequest=yes&amp;protocol=http:&amp;" target="_blank">Deutsche Bahn Train Travel Planner</a>).</p>
<h2>By car</h2>
<p>Halle is located at the highway (Autobahn) A14, A9 and A38 and is easily accessible from all directions.</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
