<article class="post-128 page type-page status-publish hentry" id="post-128">

		<time datetime="2016-09-17"></time>
		<h1 class="the_title">How to reach Seoul National University (conference venue)</h1>

				<section class="entry">
		<br>	
		<br>	
		<br>	
<h4><strong>1. From Incheon airport to Hoam</strong></h4>
<p>① Take the '#6017 airport limousine bus' at the <span style="color:initial">Gate 6B (Terminal 1) or Gate 27 (terminal 2)</span>. (Check the bus time table). <span style="color:initial">The bus will depart every 30~40 minutes. It takes about 110 minutes by the bus (15,000 KRW by cash).</span> <br>

② Get off at the last stop 'Hoam Faculty House' </p>
<a href="http://www.hoam.ac.kr/eng/hoamHotel/airportbus_pop.php">6017 Airport limousine bus Timetable (http://www.hoam.ac.kr/eng/hoamHotel/airportbus_pop.php)</a>
		<br>	
		<br>	
		<br>	
		<br>	
<h4><strong>2. From Gimpo airport to Hoam</strong></h4>
<p>① Take the '#6003 Airport limousine bus' at the Bus terminal #6. The bus will depart every 20
    minutes. <span style="color:initial">It takes about 60 minutes by bus (About 4,000 KRW by cash).</span><br>
② Get off at the main gate of Seoul National University. <span style="color:initial">Take a taxi or a shuttle for Hoam faculty house at the main gate. </span> Shuttle service is available upon reservation only, Running hour of shuttle: 08:00 ~ 19:00 (Monday to Friday). Please contact at 82-2-880-0311 for reservation.<br>
</p>
		<br>	
		<br>	
<h4><strong>3. by Taxi</strong></h4>
<p>① Take a taxi from Incheon/Gimpo airport to Hoam Faculty House (HFH).<p>
<style>

table{
	table-layout:fixed;
	width:auto;
}
td {
	width:1px;
	white-space: nowrap;
}
</style>
<table>
	<tr>
		<td>
		</td>
		<td>
			Incheon Airport → HFH
		</td>
		<td>
			Gimpo Airport → HFH
		</td>
	</tr>
	<tr>
		<td style="text-align:center">
			FARE
		</td>
		<td>
			about 70,000 KRW (66 dollars)
		</td>
		<td>
			about 30,000 KRW (28 dollars)
		</td>
	</tr>
</table>
<p>
② The fare could be changeable upon traffic situation. Please contact us at + 82-2-880-0311 or
    <a href="mailto:front@hoam.ac.kr">front@hoam.ac.kr</a> for reservation. 
</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
