<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
    
  <div id="pageintro" class="hoc clear" style="background-image:url('/logopng.png'); background-size:contain;background-color:#fff; background-position:center -50px; background-repeat:no-repeat; padding-top:350px; margin-top:100px; margin-bottom:50px; padding-bottom:0;"> 
    <!-- ################################################################################################ -->
    <article>
      <div>
        <h2 class="heading"></h2>
        <p  style="font-size:20px;">46th. Annual Meeting of ISOTT in Seoul, Korea</p>
        <p>International Society on Oxygen Transport to Tissue</p>
      </div>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="scientific_program">Program</a></li>
          <li><a class="btn" href="online_registration">Register</a></li>
        </ul>
      </footer>

    </article>
    <!-- ################################################################################################ -->
  </div>
</div>

<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80" >
      <h3 class="font-x3 nospace">ISOTT 2018 in Seoul, Korea</h3>
<pre style=" font-family:'Georgia', 'Times New Roman', 'Times', 'serif'; white-space:pre-line; text-align:left; padding:5%;">We would like to cordially invite you to the 46th annualmeeting of the International Society on Oxygen Transport to Tissue (ISOTT) from <b>July 1-5, 2018</b> at <b>Seoul National University</b> in <b>Seoul, South Korea</b>.
Seoul is located in the middle of the Korean peninsula in Northeast Asia. As the dynamic capital of Korea, the city boasts many historic sites with traditional charm as well as modern attractions and amenities. The venue, Seoul National University, is 42 km east of Incheon International Airport, which is accessible by most major cities and airlines. 
<div style="position:relative; text-align:center">
<img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;" src="/image/1.png"><img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;"src="/image/2.png">
</div>

General topics for the meeting will cover the Basic, Applied, Biomedical and Clinical Sciences associated with oxygen and other metabolite transport to tissue. Specific topics include, but are not limited to: the oxygen transport to tissue under various physiological conditions; vascular physiology including primo vascular system; microcirculation, cellular metabolism, and mitochondrial function; oxygen carriers; clinical studies; instrumentations for oxygen, metabolites, and biomarker detection/quantifications; drug discovery; and mathematical model and computer simulation. 
As a multi-disciplinary society, ISOTT invites physiologists, biochemists, clinicians, physicists, engineers, mathematicians and scientists from any other related fields for an intensive discussion on any aspect of oxygen transport to tissue in the body. 

A warm welcome awaits you in Seoul to spend a scientifically fruitful and enjoyable time at ISOTT 2018. For more detailed information on the meeting and Seoul, please refer to <a href="http://isott2018.com">http://isott2018.com</a> and <a href="http://english.visitseoul.net">http://english.visitseoul.net</a>.


<b>Pan Dong Ryu, DVM PhD
Chair, Organizing Committee for ISOTT2018
Seoul National University</b>
<div style="position:relative; text-align:center">
<img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;" src="/image/3.png"><img style="display:inline-block; margin:15px; min-width:250px; width:45%; max-width:350px; height:auto;"src="/image/4.png">
</div>
</pre>

    </div>
<!--
    <div class="group">
      <div class="one_third first">
        <h2>Venenatis eget tristique</h2>
        <p>Sodales est ac maximus scelerisque fusce tempus libero tempus congue vulputate enim nunc pretium sem…</p>
      </div>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/demo/320x240.png" alt=""></a>
        <h3 class="heading">John Doe</h3>
        <p>Vel tempus dolor eros in nunc curabitur vel dapibus quam nullam in vestibulum nisi proin nunc quam aliquet ut est…</p>
        <p class="nospace"><a href="#">Read More »</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/demo/320x240.png" alt=""></a>
        <h3 class="heading">Jane Doe</h3>
        <p>Interdum velit aliquam vel dui sed lorem iaculis blandit et quis lorem nam cursus eget tortor id tristique nunc…</p>
        <p class="nospace"><a href="#">Read More »</a></p>
      </article>
    </div>
-->
  </section>
</div>
<!--
<div class="wrapper row2">
  <div class="hoc container clear"> 
    <ul class="nospace group cta">
      <li class="one_third first">
        <article><strong class="numb">01</strong>
          <h6 class="heading font-x1"><a href="#">Vulputate ullamcorper</a></h6>
          <p>Rutrum elit nec tincidunt sed aenean aliquet mauris accumsan eget dui id…</p>
        </article>
      </li>
      <li class="one_third">
        <article><strong class="numb">02</strong>
          <h6 class="heading font-x1"><a href="#">Lobortis condimentum</a></h6>
          <p>Dolor eu suscipit facilisis vestibulum vitae semper nisl vivamus a ligula…</p>
        </article>
      </li>
      <li class="one_third">
        <article><strong class="numb">03</strong>
          <h6 class="heading font-x1"><a href="#">Malesuada hendrerit</a></h6>
          <p>Nulla ut imperdiet metus aliquam iaculis mi in tortor accumsan at lobortis…</p>
        </article>
      </li>
    </ul>
  </div>
</div>


<div class="wrapper row3">
  <main class="hoc container clear"> 
    <ul class="nospace group services">
      <li class="one_third first btmspace-30">
        <article><a href="#"><i class="fa fa-4x fa-language"></i></a>
          <h6 class="heading font-x1">Ligula ornare mattis</h6>
          <p>Mauris vel vehicula lacinia est nunc tincidunt quam sed placerat felis…</p>
        </article>
      </li>
      <li class="one_third btmspace-30">
        <article><a href="#"><i class="fa fa-4x fa-balance-scale"></i></a>
          <h6 class="heading font-x1">Vestibulum at semper</h6>
          <p>Vitae neque ac ullamcorper nulla id hendrerit phasellus pretium mi in…</p>
        </article>
      </li>
      <li class="one_third btmspace-30">
        <article><a href="#"><i class="fa fa-4x fa-map-signs"></i></a>
          <h6 class="heading font-x1">Tincidunt ullamcorper</h6>
          <p>Lacinia interdum dui diam pharetra velit eget accumsan turpis neque…</p>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-4x fa-binoculars"></i></a>
          <h6 class="heading font-x1">Dolor nec malesuada</h6>
          <p>Sagittis massa in metus vehicula blandit tellus pulvinar donec…</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-4x fa-paw"></i></a>
          <h6 class="heading font-x1">Ultrices ut porta sed</h6>
          <p>Purus elit interdum nibh cursus nisl tellus egestas nunc fusce in…</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-4x fa-qrcode"></i></a>
          <h6 class="heading font-x1">A viverra vestibulum</h6>
          <p>Id condimentum ligula purus non massa mattis rhoncus cum…</p>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </main>
</div>
-->


