<article class="post-179 page type-page status-publish hentry" id="post-179">

		<time datetime="2017-02-05"></time>
		<h1 class="the_title">Manuscript preparation</h1>

				<section class="entry">
			
			<p>All full registrants to ISOTT 2017 presenting data are eligible to submit a full-length manuscript based on their presentation given at ISOTT 2017. The manuscript will be peer reviewed by the Editorial Board and published in the „Advances in Experimental Medicine and Biology“ (actual IF: 1.953) series by Springer.</p>
<p>Manuscripts should be submitted as MS Word files. Accompanying this on a separate page should be 5 keywords, the e-mail address of the corresponding author and a copyright release form (see below #1: „Consent to Publish form“ to download the form). If copyrighted material has been used in the manuscript, a permission form should be included from the original publisher.</p>
<p>The electronic version of the manuscript must be prepared using the template provided by Springer (see below #2: „T1-book template“). We strongly recommend that you read the instructions (see below #3: „Instructions for ISOTT Authors 2017“) before starting to prepare your manuscript.</p>
<p>The maximum number of pages (including abstract, main text, figures, tables, and references) is <span style="color: #008000"><strong>6</strong></span>.</p>
<p>The deadline for the submission of the manuscript has been extended to</p>
<h2><span style="color: #ff0000"><strong>September 18<sup>th</sup>, 2017</strong></span>.</h2>
<p>Please send your manuscript (together with the copyright form, a title page with the name and address of the corresponding author and a list of keywords) to <a href="mailto:isott2017@medizin.uni-halle.de">isott2017@medizin.uni-halle.de</a> .</p>
<p>Documents and resources for Authors (click the links to download):</p>
<ol>
<li><a href="https://isott2017.org/files/2017/02/ISOTT_Consent_to_Publish.doc">Consent to Publish form</a> (MS Word file)</li>
<li><a href="http://webted.uni-halle.de/ISOTT2017/T1-book.dot">T1-book template</a> (MS Word template)</li>
<li><a href="https://isott2017.org/files/2017/06/Simplified-Instructions-for-ISOTT-Authors-2017.doc">Instructions for ISOTT Authors 2017</a> (MS Word file)</li>
</ol>
<p>More guidelines from the publisher (for those who want more details):</p>
<ul>
<li><a href="https://isott2017.org/files/2017/02/manuscript-guidelines-1.0.pdf">Further guidelines from the publisher on the manuscript</a> (pdf file)</li>
<li><a href="https://isott2017.org/files/2017/02/readme-T1-book.pdf">Instructions on the T1-book template from the publisher</a> (pdf file)</li>
<li>Instructions to authors website link: <a href="http://www.springer.com/authors/book+authors?SGWID=0-154102-12-417900-0" target="_blank" rel="noopener noreferrer">http://www.springer.com/authors/book+authors?SGWID=0-154102-12-417900-0</a></li>
</ul>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
