<article class="post-137 page type-page status-publish hentry" id="post-137">

		<time datetime="2016-09-18"></time>

				<section class="entry" style="text-align:center;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="the_title">You have been successfully registered!</h1>
	</section>
				<section id="comments">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
			        </section>
        
	</article>
