<article class="post-167 page type-page status-publish hentry" id="post-167">

		<time datetime="2017-02-22"></time>
		<h1 class="the_title">Online Registration</h1>

				<section class="entry">
			
			<h3><span style="color: #ff0000"><b>The ISOTT 2017 meeting is over and the online registration has been closed.</b></span></h3>
<p>Conference fee:</p>
<table border="1" rules="all">
<tbody>
<tr>
<td width="256"></td>
<td width="256">
<p style="text-align: center">early registration<br>
(before June 9<sup>th</sup>, 2017)</p>
</td>
<td width="256">
<p style="text-align: center">late registration<br>
(after June 8<sup>th</sup>, 2017)</p>
</td>
</tr>
<tr>
<td width="256">ISOTT member</td>
<td width="256">
<p style="text-align: center">360.00 €</p>
</td>
<td width="256">
<p style="text-align: center">410.00 €</p>
</td>
</tr>
<tr>
<td width="256">non-member (*)</td>
<td width="256">
<p style="text-align: center">460.00 €</p>
</td>
<td width="256">
<p style="text-align: center">560.00 €</p>
</td>
</tr>
<tr>
<td width="256">accompanying person</td>
<td width="256">
<p style="text-align: center">155.00 €</p>
</td>
<td width="256">
<p style="text-align: center">205.00 €</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>The conference fee includes meeting participation, materials, coffee breaks, lunch and three social events.</p>
<p>(*) If you apply for ISOTT membership before you register you will get the reduced ISOTT-member conference fee.</p>
<p>&nbsp;</p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
