<style>
	.group{
		color:#4F6229;
		font-size:22px;	
	}
	.group_box{
		font-weight:400;
		font-size:18px;
	}
</style>
<article class="post-338 page type-page status-publish hentry" id="post-338">

		<time datetime="2017-04-06"></time>

				<section class="entry">

		<br>	
		<br>	
		<br>	
		<h1 style="font-size:25px; font-weight:bold; text-align:center;">Organizing Committees</h1>
		<div style="text-align:center;">	
			<div style="display:inline-block; text-align:left; vertical-align:top" class="group_box">
				<h2 class="group">ISOTT 2018 Senior Advisors</h2>
				ㆍ Duane F. Bruley <br>
				ㆍ Peter Vaupel <br>
				<br>
				<br>
				<h2 class="group">ISOTT  2018 Local Organizing Committee</h2>

				ㆍHyeon-Min Bae<br>
				ㆍSung Chul Kim<br>
				ㆍSung Joon Kim<br>
				ㆍSang-Suk Lee<br>
				ㆍSang Wook Oh<br>
				ㆍSu Ho Park<br>
				ㆍPan Dong Ryu<br>
				ㆍSung-Joon Ye<br>
				<br>
				<br>

				<h2 class="group">ISOTT  2018 Scientific Committee</h2>

				ㆍ Kyung A. Kang<br>
				ㆍ Sung Chul Kim<br>
				ㆍ Sang-Suk Lee<br>
				ㆍ Terence Leung<br>
				ㆍ Lin Li<br>
				ㆍ Sally Pias<br>
				ㆍ Pan Dong Ryu<br>
				ㆍ Eiji Takahashi<br>
				ㆍ Oliver Thews<br>
				ㆍ Martin Wolf<br>
			</div>
			<div style="display:inline-block; text-align:left; vertical-align:top; " class="group_box">
			<h2 class="group">ISOTT  2018 Executive Committee</h2>

			      ㆍ Duane F. Bruley<br>
			      ㆍ Boris  Epel<br>
			      ㆍ Kyung A. Kang<br>
			      ㆍ Peter E. Keipert<br>
			      ㆍ Joseph C. LaManna<br>
			      ㆍ George A. Perdrizet<br>
			      ㆍ Sally Pias<br>
			      ㆍ Michelle A. Puchowicz<br>
			      ㆍ Anne Riemann<br>
			      ㆍ Pan Dong Ryu<br>
			      ㆍ Kaoru Sakatani<br>
			      ㆍ Harold M. Swartz<br>
			      ㆍ Oliver Thews<br>
			      ㆍ Ursula Wolf<br>
			      ㆍ Karen Yilmaz<br>
			</div>
		</div>




		<br>	
		<br>	
		<br>	
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
