<article class="post-338 page type-page status-publish hentry" id="post-338">

		<time datetime="2017-04-06"></time>
		<h1 class="the_title">Scientific program</h1>

				<section class="entry">
			
			<p><a href="https://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717.png"><img class="alignnone wp-image-417" src="https://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717-300x192.png" alt="" width="700" height="448" srcset="http://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717-300x192.png 300w, http://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717-768x492.png 768w, http://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717-1024x656.png 1024w, http://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717-150x96.png 150w" sizes="(max-width: 700px) 100vw, 700px"></a></p>
<p>You can download this program summary <a href="https://isott2017.org/files/2017/07/ISOTT2017_Program_at_a_glance_040717.pdf">here (program at a glance)</a>.</p>
<p>The detailed program with the titles of all oral and poster presentations can be downloaded <a href="https://isott2017.org/files/2017/07/ISOTT2017_Program_210717.pdf">here (complete program)</a> (status: July 9, 2017).</p>
<p>The whole conference (registration desk, oral and poster presentations) will be held in the central lecture hall building, the so call <a href="https://isott2017.org/conference-venue/"><em>Lions Building</em> („Löwengebäude“)</a>. The lions building is located in the center of Halle at the University Place.</p>
<p>Address: <a href="https://www.google.de/maps/place/Universit%C3%A4tsplatz,+06108+Halle+(Saale)/@51.4864085,11.9681175,17.5z/data=!4m5!3m4!1s0x47a6635236d16689:0x1406284c0e0f4c07!8m2!3d51.4861661!4d11.9688883" target="_blank" rel="noopener">Universitätsplatz, 06108 Halle (Saale), Germany</a></p>
			
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
