<article class="post-338 page type-page status-publish hentry" id="post-338">

		<time datetime="2017-04-06"></time>
		<h1 class="the_title">Scientific program</h1>

				<section class="entry">
			<h1 style="font-size:25px; font-weight:bold; text-align:center;">Program at a glance</h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:2.5vw; line-height:1;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:2.5vw; line-height:1;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg tr{
  height:100px;
}
.tg tr.half{
  height:50px !important;
}

@media screen and (min-width: 600px) {
  .tg td{
    font-size: 16px;
  }
  .tg th{
    font-size: 16px;
  }
}
.tg .tg-lkh3{background-color:#9aff99}
.tg .tg-fy0z{background-color:#3166ff;color:#ffffff;text-align:center}
.tg .tg-2thk{background-color:#c0c0c0;text-align:center}
.tg .tg-hdt5{background-color:#9aff99;text-align:center}
.tg .tg-s6z2{text-align:center}
.tg .tg-s4hi{background-color:#be4717;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-26cg{background-color:#ffbded}
.tg .tg-a1rn{background-color:#ffffc7}
.tg .tg-achz{background-color:#ffcc67;vertical-align:top}
.tg .tg-lun0{background-color:#ffbded;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-vvj7{background-color:#9aff99;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-qtfd{background-color:#ffbded;vertical-align:top}
.tg .tg-kjho{background-color:#ffffc7;vertical-align:top}
.tg .tg-a080{background-color:#9aff99;vertical-align:top}
.tg .tg-tv6m{background-color:#ffcc67;text-align:center}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-7wxi{border-color:#ffffff;vertical-align:top}
.tg .tg-pzpt{background-color:#ffffc7;border-color:#ffffff;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e" style="background:white"></th>
    <th class="tg-2thk">July 1, 2018 <br>Saturday</th>
    <th class="tg-2thk">July 2, 2018, <br>Monday</th>
    <th class="tg-2thk">July 3, 2018 <br>Tuesday</th>
    <th class="tg-2thk">July 4, 2018 <br>Wednesday</th>
    <th class="tg-2thk">July 5, 2018 <br>Thursday</th>
  </tr>
  <tr>
    <td class="tg-s6z2">07:00</td>
    <td class="tg-031e"></td>
    <td class="tg-s6z2" colspan="4" rowspan="2">Mugunghwa Hall<br>Hoam Faculty House Convention Center</td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">08:00</td>
    <td class="tg-031e" rowspan="2"></td>
  </tr>
  <tr class="half">
    <td class="tg-achz">Keynote talk<br></td>
    <td class="tg-achz">Keynote talk</td>
    <td class="tg-achz">Keynote talk</td>
    <td class="tg-achz">Keynote talk</td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">09:00</td>
    <td class="tg-031e" rowspan="2"></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation<br></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation</td>
    <td class="tg-26cg">Poster flash<br></td>
    <td class="tg-26cg">Poster flash<br></td>
  </tr>
  <tr class="half">
    <td class="tg-qtfd">Poster viewing<br></td>
    <td class="tg-qtfd">Poster viewing<br></td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">10:00</td>
    <td class="tg-031e" rowspan="2"></td>
    <td class="tg-lkh3">Coffee break<br></td>
    <td class="tg-lkh3">Coffee break</td>
    <td class="tg-lkh3">Coffee break</td>
    <td class="tg-lkh3">Coffee break</td>
  </tr>
  <tr class="half">
    <td class="tg-kjho" rowspan="2">Oral presentation<br></td>
    <td class="tg-kjho" rowspan="2">Oral presentation</td>
    <td class="tg-kjho" rowspan="2">Oral presentation</td>
    <td class="tg-kjho" rowspan="2">Oral presentation</td>
  </tr>
  <tr>
    <td class="tg-s6z2">11:00</td>
    <td class="tg-031e"></td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">12:00</td>
    <td class="tg-031e" rowspan="2"></td>
    <td class="tg-hdt5" rowspan="2">Launch</td>
    <td class="tg-hdt5" rowspan="2">Launch</td>
    <td class="tg-lkh3">Coffee break<br></td>
    <td class="tg-hdt5" rowspan="2">Launch</td>
  </tr>
  <tr class="half">
    <td class="tg-kjho" rowspan="2">Oral presentation</td>
  </tr>
  <tr class="half">
    <td class="tg-baqh" rowspan="2">13:00<br></td>
    <td class="tg-baqh" rowspan="6"><br><br><br>Registration<br>(Marronnier, Hoam Faculty House)<br></td>
    <td class="tg-achz">Keynote talk<br></td>
    <td class="tg-achz">Keynote talk</td>
    <td class="tg-achz">Keynote talk</td>
  </tr>
  <tr class="half">
    <td class="tg-a1rn" rowspan="2">Oral presentation<br></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation</td>
    <td class="tg-fy0z" rowspan="2">EC meeting<br></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation</td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">14:00</td>
  </tr>
  <tr class="half">
    <td class="tg-qtfd">Poster flash<br></td>
    <td class="tg-qtfd">Poster flash<br></td>
    <td class="tg-s4hi" rowspan="9"><br><br><br><br><br><br><br><br><br>Free afternoon<br></td>
    <td class="tg-a080">Coffee break<br></td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">15:00</td>
    <td class="tg-lkh3">Coffee break<br></td>
    <td class="tg-lkh3">Coffee break<br></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation<br></td>
  </tr>
  <tr class="half">
    <td class="tg-qtfd">Poster viewing<br></td>
    <td class="tg-qtfd">Poster viewing<br></td>
  </tr>
  <tr>
    <td class="tg-s6z2">16:00</td>
    <td class="tg-fy0z">Opening Ceremony<br></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation<br></td>
    <td class="tg-a1rn" rowspan="2">Oral presentation<br></td>
    <td class="tg-fy0z">Annual General Meeting<br></td>
  </tr>
  <tr class="half">
    <td class="tg-s6z2" rowspan="2">17:00</td>
    <td class="tg-tv6m" rowspan="2">Opening Lecture<br></td>
    <td class="tg-031e"></td>
  </tr>
  <tr class="half">
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-s6z2">18:00</td>
    <td class="tg-hdt5" rowspan="2">Reception<br>(Marronnier)<br></td>
    <td class="tg-hdt5" rowspan="2">Get Together  (Marronnier)<br></td>
    <td class="tg-hdt5" rowspan="3">Dinner at Han River<br>(River Cruise)<br></td>
    <td class="tg-hdt5" rowspan="2">Awards Ceremony &amp; Banquet<br>(SNU Faculty Club)<br></td>
  </tr>
  <tr>
    <td class="tg-s6z2">19:00 - <br></td>
  </tr>
  <tr>
    <td class="tg-031e"><br></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-7wxi"></td>
    <td class="tg-7wxi"></td>
    <td class="tg-7wxi"></td>
    <td class="tg-7wxi"></td>
    <td class="tg-7wxi"></td>
    <td class="tg-7wxi"></td>
  </tr>
  <tr>
    <td class="tg-7wxi"></td>
    <td class="tg-pzpt">Oral presentation<br></td>
    <td class="tg-lun0">Poster sessions<br></td>
    <td class="tg-vvj7">Social events<br></td>
    <td class="tg-7wxi"></td>
    <td class="tg-7wxi"></td>
  </tr>
</table>
<h2 style="text-align:center">You can download this program summary <a href="/Program-Scientific_program.pdf" style="color:red">here (program at a glance).</a></h2>
					</section>
		
		<section class="postmetadata clearfix">
	    	<p></p>
	</section>
				<section id="comments">
			        </section>
        
	</article>
