<!DOCTYPE html>
<!--
Template Name: ISOTT 2018
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
<title>ISOTT 2018</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1"style="background:#fff; border-bottom:1px solid #404040; border-top:5px solid #A3D044;">
  <header id="header" class="hoc clear">  
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left " style="background-image:url('/logopng.png'); background-size:100%; width: 218px;background-color:#fff;  background-repeat:no-repeat; height:135px; background-position:center -21px; margin:0 !important;cursor:pointer;" >
      <!--<h1><a href="index.html">ISOTT 2018</a></h1>
      <p style="text-transform: initial !important">1. - 5. July 2018</p>-->
    </div>
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right" style="position:relative;">
<div class="title_a" style="position:absolute; font-size:2.5vw; font-weight:800; margin:auto; top:38px; left:0; right:0; bottom:0; color:#333 !important;">
46th Annual Meeting of ISOTT in Seoul, Korea
</div>
<script>
</script>
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a class="drop" href="#">ISOTT portal</a>
          <ul>
            <li><a href="http://isott.org">ISOTT.org homepage</a></li>
            <li><a href="http://isott.org/index.php/membership.html">Become a member of ISOTT</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Venue in Seoul</a>
          <ul>
            <li><a href="conference_venue">Conference venue</a></li>
            <li><a href="highlight_seoul">Highlights of Seoul</a></li>
          </ul>
        </li>

        <li><a class="drop" href="#">Program</a>
          <ul>
            <li><a href="scientific_program">Scientific program</a></li>
            <li><a href="guidelines">Guidelines for Poster and Oral Presentations</a></li>
            <li><a href="invited_speaker">Invited Speakers</a></li>
            <li><a href="social_program">Social program</a></li>
            <li><a href="organizing_committees">Organizing committees</a></li>
          </ul>
        </li>


        <li><a class="drop" href="#">Registration & Abstracts</a>
          <ul>
            <li><a href="online_registration">Online Registration</a></li>
            <li><a href="abstract_preparation">Abstract preparation</a></li>
          </ul>
        </li>


        <li><a class="drop" href="#">Travel & Accommodation</a>
          <ul>
            <li><a href="accommodation">Accommodation</a></li>
            <li><a href="how_to_reach">How to reach Seoul National University (conference venue)</a></li>
          </ul>
        </li>


        <li><a class="drop" href="#">Awards</a>
          <ul>
            <li><a href="award_general">ISOTT - Awards (general information)</a></li>
            <li><a href="award_melvin">Melvin H. Kinsely Award</a></li>
            <li><a href="award_dietrich">Dietrich W. Lubbers Award</a></li>
            <li><a href="award_britton">Britton Chance Award</a></li>
            <li><a href="award_duane">Duane F. Bruley Awards</a></li>
          </ul>
        </li>

        <li>
          <a class="drop" href="manuscript">Manuscript</a>
        </li>
<!--
        <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/full-width.html">Full Width</a></li>
            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
            <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Dropdown</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>
        </li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
-->
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<%= yield %>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="title">공통 항목 1</h6>
      <p>모든 페이지에 공통적으로 보여질 텍스트</p>
      <p class="btmspace-15">모든 페이지에 공통적으로 보여지는 텍스트</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">공통 항목 2</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">공통 항목 3</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">공통 세부 항목 1</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
            <p class="nospace">TEXT TEXTTEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT  &hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">공통 세부 항목 2</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-05">Friday, 6<sup>th</sup> April 2045</time>
            <p class="nospace">TEXT TEXTTEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT  &hellip;</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="http://isott2018.com">isott2018.com</a></p>
    <p class="fl_right">Produced by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates"></a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
<script>
$("#logo").click(function(){
	window.location.href='http://isott2018.com';
});
</script>
